<div class="card">
  <div class="card-header">
    <h3>Article list</h3>
  </div>
  <div class="card-body">
    <table class="table ">
        <tr>
          <th>title</th>
          <th>content</th>
          <th>viewCount</th>
        </tr>
        <tbody>
          <tr *ngFor="let item of articleList">
            <td>{{item.title}}</td>
            <td>{{item.content}}</td>

            <td>{{item.viewCount}}</td>

          </tr>
        </tbody>
    </table>
  </div>
</div>
<button class="btn btn-danger" (click)="navDashboard()">test</button>
